header{
    background-color:#228b22;
    font-size: 90%;
    margin:20%;
    padding 5px;

}
h1,h2{
    
    text-transform: uppercase;
    color:#fffacd;

}
h1{
    text-align: center;
}
section{
    background-color:#2e8b57;
   

}
a{
    background-color:#daa520;
    color:#800000;
    text-align: center;
  

}
img{
    display:none;
}