body{
    background: #228b22;
    font-size: 110%;
    margin:4%;
    padding 5px;
}
header{
    /*background:#fffacd; */
    background-image: url(../images/flywheel.jpg);
    text-align: center;
    
    padding-bottom: 15px;
}
h1{
    color: #800000;
    /*font-size: 200%;*/
}    
/*header,footer{
    background:#fffacd;
    background: -moz-linear-gradient(top, #fffacd);
    background: -webkit-linear-gradient(#fffacd 0);
    background:-o-linear-gradient(#fffacd 0;)
    background: linear-gradient(#fffacd);
}*/
.half{
    width:45%;
    margin-right: 2%;
    display:inline-block;
    float: left;
}  
.whole{
    clear:both;
}  
.left{
    width:30%;
    margin-right: 2%;
    display:inline-block;
    float: left;
    text-align: center;
} 
aside.left{
    text-align: center;
}

.right{
    width:80%;
    margin-left: 2%;
    /*display:inline-block;*/
    float: left;
} 
aside a img{
    border-style: solid;
    border-color:#000000;
    display:block;
    padding:0px;
}
nav a{
    width: 15%;
    display:inline-block;
    /*background: #12e49e;*/
    background: rgba(18, 228, 158,0.6);
    text-decoration: none;
    border-radius: 25px;
}  
nav a:hover{
    background: rgba(18, 228, 158,0.9);
  }
nav a.active{
    background: rgba(18, 228, 158,0.9);
    color:#800000;
}  
section{
    width: 30%;
    display: inline-block;
    float:left;
    margin-right: 2%;
}
footer{
    clear:both;
}

img{
    width:125px;
}
a{
    font-weight: bold;
    width: 200px;
    text-align: center;
    padding: 4px;
    /*text-decoration: none;*/
    margin:0 auto;
    margin-top: 10px;
}