body{
    background: #228b22;
    font-size: 110%;
    margin:4%;
    padding 0px;
    /*height:100%;*/
    
    /*border-style: solid;*/
}
header{
    height: 100px;
    background:#fffacd;
    background-image: url(../images/flywheel.jpg);
    text-align: center;
    padding-bottom: 10px;
    /* border-style: solid;*/
}
header h1{
    color: #800000;
    text-transform: uppercase;
    /*font-size: 200%;*/
}    
/*header,footer{
    background:#fffacd;
    background: -moz-linear-gradient(top, #fffacd);
    background: -webkit-linear-gradient(#fffacd 0);
    background:-o-linear-gradient(#fffacd 0;)
    background: linear-gradient(#fffacd);
}*/
/*
.half{
    width:45%;
    margin-right: 2%;
    display:inline-block;
    float: left;
}  
.whole{
    clear:both;
} 
*/ 
main{
    width:100%;
    height: calc(100% - 100px);
    /*overflow: hidden;*/
    margin:auto;
    /*border-style: solid;
    border-color: red;
    position:absolute;*/
    display:inline-block;
    
   
}
.left{
    width:15%;
    height:100%;
    /*position:relative;
    margin-right: 2%;*/
    /*margin:auto;*/
    display:inline-block;
    float: left;
    /*border-style: solid;*/
    background:#adff2f;
    
} 
.right{
    width:81%;
    float: left;
    /*border-style: solid;*/
    display:inline-block;
    margin-right: 0;
    padding-left: 20px;
    /*padding-right: 5px;*/
    
} 

aside a img{
    border-style: solid;
    border-color:#000000;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top:10px;
}
nav a{
    width: 15%;
    display:inline-block;
    /*background: #12e49e;*/
    background: rgba(18, 228, 158,0.6);
    text-decoration: none;
    border-radius: 25px;
}  
nav a:hover{
    background: rgba(18, 228, 158,0.9);
  }
nav a.active{
    background: rgba(18, 228, 158,0.9);
    color:#800000;
}  
section{
    width: 30%;
    display: inline-block;
    float:left;
    margin-right: 2%;
}
footer{
    clear:both;
}

img{
    width:125px;
}
a{
    font-weight: bold;
    width: 200px;
    text-align: center;
    padding: 4px;
    /*text-decoration: none;*/
    margin:0 auto;
    margin-top: 10px;
}
table{
    background:#006400;
    background: rgba(143, 160, 143, 0.7);
    width: 80%;
    padding:5px;
    margin-left: 10%;
    margin-right: 10%;
    /*border:solid;*/
    border-radius: 2px;
    border-collapse:separate;
    border-spacing:6px 3px;
}

th{
	text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 8px #FF0000;
	
    background: #f1f0e7;
	background: -moz-linear-gradient(top, #f1f0e7 0%, #d8d5b7 100%);
	background: -webkit-linear-gradient(#f1f0e7 0%, #d8d5b7 100%);
	background: -o-linear-gradient(#f1f0e7 0%, #d8d5b7 100%);
	background: linear-gradient(#f1f0e7 0%, #d8d5b7 100%); 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    border-style: solid;
    border-width:2px 2px 3px 2px;
}
th:first-child{
    text-align: left;
}    
td{
	text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: scaleY(0.80);
	background:rgba(211, 210, 199, 0.8);
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom: 5px;
    color: rgba(0,0,0,0.7);
}
td:first-child{
    text-align: left;
}
td:hover{
    background:rgba(211, 210, 199, 0.4);
    color: rgba(0,0,0,0.9);

}

